
<!-- Logo -->
<a href="/" class="logo">
  <!--  <span class="logo-mini"><img alt="logo" src="/static/images/ijobs.png"></span> -->
    <!--<img alt="logo" src="/static/images/ijobs.png">-->
    <span class="logo-lg" style="display: inline-block;"><b>钱滚滚运维平台</b></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-question-circle mr5 f20 blue"></i>
                    <span>帮助</span>
                </a>
                <ul class="dropdown-menu" style="width: 100px;">
                    <li><a href="#" style="height: 40px;line-height: 40px;padding: 3px 10px;">用户指南</a></li>
                    <li><a href="#" style="height: 40px;line-height: 40px;padding: 3px 10px;">常见问题</a></li>
                </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <img src="/static/images/user2-160x160.jpg" class="user-image" alt="User Image">

                </a>
                <a>
                    {{ request.user.username }}
{#                    {{ request.user.email }}#}
{#                    {{ session_user_id  }}#}
                    </a>

                <ul class="dropdown-menu" style="width:100px;">
                    <li>
                        <a href="{% url 'user_profile' %}" data-permalink="" style="height: 40px;
    line-height: 40px;padding: 3px 10px;">
                            <i class="fa fa-gears"></i>
                            <span>账户信息</span></a>
                    </li>
                    <li>
                        <a href="/help" target="_blank" class="c-nav-help" style="height: 40px;
    line-height: 40px;padding: 3px 10px;">
                            <i class="fa fa-question-circle mr5 f20"></i>
                            <span>帮助</span>
                        </a>
                    </li>
                    <li>
                        <a id="logout" href="javascript:void(0);" class="c-nav-out" style="height: 40px;
    line-height: 40px;padding: 3px 10px;">
                            <i class="fa fa-sign-out mr5 f20"></i>
                            <span>注销</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>