{% extends 'layout.html' %}

{% load static %}
{% load mytags %}
{% block content %}
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <style type="text/css">
      .page-header {
        margin-top: 0;
      }
    </style>
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">任务信息</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-chevron-up"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            </button>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-10">
                        <form id="task_form" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">任务名<span class="text-red">*</span>：</label>
                                <div class="col-sm-8">
                                    {{ task_form.task_name }}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">任务类型<span class="text-red">*</span>：</label>
                                <div class="col-sm-2">
                                 <select name="task_type" class="form-control m-b input-sm" >
{#                                    {{ task_form.task_type }}#}
                                    {% for type in task_types %}
                                        {% ifequal type.0|int2str task_type %}
                                            <option value="{{ type.1 }}" selected> {{ type.1 }}</option>
                                        {% else %}
                                            <option value="{{ type.1 }}"> {{ type.1 }}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                 </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                 <label class="control-label col-sm-2">上传文件：</label>
                                {% include 'tasks/upload.html' %}
                            </div>
                            <div class="form-group">
                                  <label for="memo" class="col-sm-2 control-label">描述信息<span class="text-red">*</span>：</label>
                                  <div class="col-sm-8" >
                                     {{ task_form.task_desc }}
                                  </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="submit_button" class="btn btn-default" type="submit">保存</button>
                                    <a class="btn btn-white" href="javascript:history.go(-1)" type="submit">取消
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>#}
{#<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>#}
{#<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>#}
{#<script >#}
{#  $(function () {#}
{##}
{#      $(".js-upload-files").click(function () {#}
{#        $("#file-upload").click();#}
{#      });#}
{##}
{#      $("#file-upload").fileupload({#}
{#        dataType: 'json',#}
{#        done: function (e, data) {#}
{#          if (data.result.is_valid) {#}
{#            $("#gallery tbody").prepend(#}
{#              "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"#}
{#            )#}
{#          }#}
{#        }#}
{#      });#}
{##}
{#});#}
{#</script>#}

{% block self_footer_js %}
    <script>
        function change_info(){
            var args = $("#task_form").serialize();
            window.location = "{% url 'task' %}?" + args
        }

        $('#user_form').validator({
            timely: 2,
            theme: "yellow_right_effect",
            stopOnError: true,
            fields: {
                "task_name": {
                    rule: "required",
                    tip: "任务名",
                    ok: ""
                },
                "task_type": {
                    rule: "required",
                    tip: "任务类型",
                    ok: ""
                },
                "task_desc": {
                    rule: "required;length[6~50]",
                    tip: "描述信息",
                    ok: ""
                }
            },
            valid: function (form) {
                form.submit();
            }
        });
    </script>
{% endblock %}
