{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">查看任务</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-chevron-up"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            </button>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <div id="toolbar">
                            <a href="{% url 'task_add' %}" class="btn btn-sm btn-default">
                                <i class="fa fa-plus"></i> 添加任务
                            </a>
{#                            <button id="btn_remove" class="btn btn-sm btn-danger">#}
{#                                <i class="fa fa-trash-o"></i> 批量删除#}
{#                            </button>#}
                        </div>
                        <table id="table">
                        </table>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- context menu -->
{% endblock %}
{% block self_footer_js %}
    <script src="/static/plugins/bootstrap-table/extensions/contextmenu/bootstrap-table-contextmenu.min.js"></script>
    <script>
        var $table = $('#table'),
            $remove = $('#remove'),
            selections = [];

        function initTable() {
            $table.bootstrapTable({
                //绑定右键菜单
                contextMenu: '#context-menu',
                onContextMenuItem: function (row, $el) {
                    if ($el.data("item") == "edit") {
                        alert("Edit: " + row.id + ' ' + row.name + ' ' + row.price);
                    } else if ($el.data("item") == "delete") {
                        alert("Delete: " + row.id + ' ' + row.name + ' ' + row.price);
                    } else if ($el.data("item") == "action1") {
                        alert("Action1: " + row.id + ' ' + row.name + ' ' + row.price);
                    } else if ($el.data("item") == "action2") {
                        alert("Action2: " + row.id + ' ' + row.name + ' ' + row.price);
                    }
                },
                method: 'get',
                url: '{% url 'get_task_list' %}',
                toolbar: '#toolbar',
                //指定主键列
                idField: 'id',
                sidePagination: "server",
                //height: getHeight(),
                //设置为 true 会有隔行变色效果
                striped: true,
                search: true,
                showRefresh: true,
                showColumns: true,
                //showToggle: true,
                //showPaginationSwitch: true,
                pagination: true,
                pageSize: 8,
                pageList: [10, 25, 50, 100],
                cache: false,
                clickToSelect: true,
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        align: 'center'
                    },
                    {
                        field: 'id',
                        title: 'ID',
                        align: 'center',
                        visible: false
                    },
                    {
                        field: 'task_name',
                        title: '任务名',
                        sortable: true,
                        align: 'center'
                    }
                    , {
                        field: 'task_type',
                        title: '任务类型',
                        align: 'center'
                    }

                    , {
                        field: 'task_desc',
                        title: '描述',
                        align: 'center'
                    }
                    , {
                        field: 'task_applyer_name',
                        title: '申请人',
                        align: 'center'
                    }
                    , {
                        field: 'task_approve_name',
                        title: '审批人',
                        align: 'center'
                    }
                    , {
                        field: 'apply_time',
                        title: '申请时间',
                        align: 'center'
                    }
                    , {
                        field: 'finish_time',
                        title: '完成时间',
                        align: 'center'
                    }
                    , {
                        field: 'is_active',
                        title: '状态',
                        align: 'center',
                        formatter: activeFormatter
                    }, {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }

                ]
            })
        }

        function getHeight() {
            return $(window).height() - $('h1').outerHeight(true);
        }


        //操作列方法
        function operateFormatter(value, row, index) {
            return [
                '<a class="edit btn btn-xs btn-default" href="javascript:void(0)" title="edit">',
                '<i class="fa fa-edit"></i> 编辑</a> ',
            ].join('');
        }
        //状态列
        function activeFormatter(value, row, index) {
            //alert(value);
            s = '';
            if (value == true) {
                s = '是';
            }
            else {
                s = "<span style='color:red;'>否</span>";
            }
            return s;
        }
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                Edit(row.id);
            }
        };
        function Edit(id) {
            var addDialog = new BootstrapDialog({
                    title: "查看任务信息",
                    message: function (dialog) {
                        var $message = $('<div></div>');
                        var pageToLoad = dialog.getData('pageToLoad');
                        $message.load(pageToLoad);

                        return $message;
                    },
                    data: {
                        'pageToLoad': "{% url 'task_edit' %}?id=" + id
                    },
                    buttons: [{
                        cssClass: "btn-default",
                        label: "通过",
                        action: function (dialogItself) {
                            ////提交表单数据之前，先选中右侧
                            $('#users_selected option').each(function () {
                                $(this).prop('selected', true)
                            });

                            /*$("#group_from").validator({
                             valid: function (form) {
                             form.submit();
                             }
                             });*/

                        }
                    }, {
                        label: "拒绝",
                        cssClass: 'btn-white',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                })
            ;
            addDialog.open();
        }

        $(function () {
            //初始化表格
            initTable();

            // delete button
            $("#btn_remove").click(function () {
                var selected = $table.bootstrapTable('getSelections');
                if ($(selected).length > 0) {
                    BootstrapDialog.confirm({
                        title: "警告",
                        message: "确定删除选中的" + $(selected).length + "任务吗？",
                        type: BootstrapDialog.TYPE_WARNING,
                        btnCancelLabel: '放弃',
                        btnCancelClass: 'btn-white',
                        btnOKLabel: '确认',
                        //btnOKClass: 'btn-default',
                        callback: function (result) {
                            if (result) {
                                var ids = new Array($(selected).length);
                                $.each(selected, function (index, value) {
                                    ids[index] = value.id;
                                });
                                $.post("{% url 'user_del' %}", {ids: ids}, function (data) {
                                        if (data.code != 0) {
                                            $table.bootstrapTable("refresh");
                                            dialogItself.close();
                                        }
                                        else BootstrapDialog.alert(data.message);

                                    }, "json"
                                );
                            }
                        }
                    });
                }
                else BootstrapDialog.warning("请选择要删除的行");
            });
        });
    </script>
{% endblock %}